
body{
    background-color: rgb(203, 192, 211);
    color: rgb(79, 89, 91);

}
header{
    background-color: rgb(203, 192, 211);
    height: 60px;
    margin-bottom: 20px;

}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 30%;
}

.card {
    background-color: rgb(247, 225, 215);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

h2 {
    margin-top: 0;
    color:rgb(247, 225, 215);
}
input{
    border: none;
    height: 20px;
    width: 170px;
    border: 2px solid rgb(142, 154, 175);
    background-color:  rgb(247, 225, 215);
    border-radius:10px;

}
button{
    height: 25px;
    color: rgb(247, 225, 215);
    background-color: rgb(74, 87, 89);
    border: none;
    border-radius:8px;
}

ul {
    list-style: none;
    padding: 0;
}

.completed {
    text-decoration: line-through;


}